Morpher.API/Service References/MorpherWebService/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://morpher.ru/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://morpher.ru/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://morpher.ru/">
      <s:element name="SubmitCorrection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="correction" type="tns:GetXmlResult" />
            <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetXmlResult">
        <s:complexContent mixed="false">
          <s:extension base="tns:Forms">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="род" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="множественное" type="tns:Forms" />
              <s:element minOccurs="0" maxOccurs="1" name="где" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="куда" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="откуда" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Forms">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="И" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Р" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Д" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="В" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Т" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="П" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="П-о" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SubmitCorrectionResponse">
        <s:complexType />
      </s:element>
      <s:element name="Credentials" type="tns:Credentials" />
      <s:complexType name="Credentials">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="GetAccountStatus">
        <s:complexType />
      </s:element>
      <s:element name="GetAccountStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetXml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetXmlResult" type="tns:GetXmlResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetXmlUkr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetXmlUkrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetXmlUkrResult" type="tns:GetXmlUkrResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetXmlUkrResult">
        <s:complexContent mixed="false">
          <s:extension base="tns:FormsUkr">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="рід" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="множина" type="tns:Forms" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="FormsUkr">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Н" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Р" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Д" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="З" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="О" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="М" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="К" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Propis">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="n" type="s:unsignedInt" />
            <s:element minOccurs="0" maxOccurs="1" name="unit" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PropisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PropisResult" type="tns:PropisResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PropisResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="n" type="tns:Forms" />
          <s:element minOccurs="0" maxOccurs="1" name="unit" type="tns:Forms" />
        </s:sequence>
      </s:complexType>
      <s:element name="PropisUkr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="n" type="s:unsignedInt" />
            <s:element minOccurs="0" maxOccurs="1" name="unit" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PropisUkrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PropisUkrResult" type="tns:PropisUkrResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PropisUkrResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="n" type="tns:FormsUkr" />
          <s:element minOccurs="0" maxOccurs="1" name="unit" type="tns:FormsUkr" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDailyQueryLimit">
        <s:complexType />
      </s:element>
      <s:element name="GetDailyQueryLimitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDailyQueryLimitResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateClientID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateClientIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateClientIDResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="xml" nillable="true" type="tns:GetXmlResult" />
      <s:element name="GetXmlUkrResult" nillable="true" type="tns:GetXmlUkrResult" />
      <s:element name="PropisResult" nillable="true" type="tns:PropisResult" />
      <s:element name="PropisUkrResult" nillable="true" type="tns:PropisUkrResult" />
      <s:element name="int" type="s:int" />
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SubmitCorrectionSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitCorrection" />
  </wsdl:message>
  <wsdl:message name="SubmitCorrectionSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitCorrectionResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitCorrectionCredentials">
    <wsdl:part name="Credentials" element="tns:Credentials" />
  </wsdl:message>
  <wsdl:message name="GetAccountStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountStatus" />
  </wsdl:message>
  <wsdl:message name="GetAccountStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountStatusCredentials">
    <wsdl:part name="Credentials" element="tns:Credentials" />
  </wsdl:message>
  <wsdl:message name="GetXmlSoapIn">
    <wsdl:part name="parameters" element="tns:GetXml" />
  </wsdl:message>
  <wsdl:message name="GetXmlSoapOut">
    <wsdl:part name="parameters" element="tns:GetXmlResponse" />
  </wsdl:message>
  <wsdl:message name="GetXmlCredentials">
    <wsdl:part name="Credentials" element="tns:Credentials" />
  </wsdl:message>
  <wsdl:message name="GetXmlUkrSoapIn">
    <wsdl:part name="parameters" element="tns:GetXmlUkr" />
  </wsdl:message>
  <wsdl:message name="GetXmlUkrSoapOut">
    <wsdl:part name="parameters" element="tns:GetXmlUkrResponse" />
  </wsdl:message>
  <wsdl:message name="GetXmlUkrCredentials">
    <wsdl:part name="Credentials" element="tns:Credentials" />
  </wsdl:message>
  <wsdl:message name="PropisSoapIn">
    <wsdl:part name="parameters" element="tns:Propis" />
  </wsdl:message>
  <wsdl:message name="PropisSoapOut">
    <wsdl:part name="parameters" element="tns:PropisResponse" />
  </wsdl:message>
  <wsdl:message name="PropisCredentials">
    <wsdl:part name="Credentials" element="tns:Credentials" />
  </wsdl:message>
  <wsdl:message name="PropisUkrSoapIn">
    <wsdl:part name="parameters" element="tns:PropisUkr" />
  </wsdl:message>
  <wsdl:message name="PropisUkrSoapOut">
    <wsdl:part name="parameters" element="tns:PropisUkrResponse" />
  </wsdl:message>
  <wsdl:message name="PropisUkrCredentials">
    <wsdl:part name="Credentials" element="tns:Credentials" />
  </wsdl:message>
  <wsdl:message name="GetDailyQueryLimitSoapIn">
    <wsdl:part name="parameters" element="tns:GetDailyQueryLimit" />
  </wsdl:message>
  <wsdl:message name="GetDailyQueryLimitSoapOut">
    <wsdl:part name="parameters" element="tns:GetDailyQueryLimitResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateClientIDSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateClientID" />
  </wsdl:message>
  <wsdl:message name="ValidateClientIDSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateClientIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountStatusHttpGetIn" />
  <wsdl:message name="GetAccountStatusHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetXmlHttpGetIn">
    <wsdl:part name="s" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetXmlHttpGetOut">
    <wsdl:part name="Body" element="tns:xml" />
  </wsdl:message>
  <wsdl:message name="GetXmlUkrHttpGetIn">
    <wsdl:part name="s" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetXmlUkrHttpGetOut">
    <wsdl:part name="Body" element="tns:GetXmlUkrResult" />
  </wsdl:message>
  <wsdl:message name="PropisHttpGetIn">
    <wsdl:part name="n" type="s:string" />
    <wsdl:part name="unit" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PropisHttpGetOut">
    <wsdl:part name="Body" element="tns:PropisResult" />
  </wsdl:message>
  <wsdl:message name="PropisUkrHttpGetIn">
    <wsdl:part name="n" type="s:string" />
    <wsdl:part name="unit" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PropisUkrHttpGetOut">
    <wsdl:part name="Body" element="tns:PropisUkrResult" />
  </wsdl:message>
  <wsdl:message name="GetDailyQueryLimitHttpGetIn" />
  <wsdl:message name="GetDailyQueryLimitHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ValidateClientIDHttpGetIn">
    <wsdl:part name="clientID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateClientIDHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetAccountStatusHttpPostIn" />
  <wsdl:message name="GetAccountStatusHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetXmlHttpPostIn">
    <wsdl:part name="s" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetXmlHttpPostOut">
    <wsdl:part name="Body" element="tns:xml" />
  </wsdl:message>
  <wsdl:message name="GetXmlUkrHttpPostIn">
    <wsdl:part name="s" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetXmlUkrHttpPostOut">
    <wsdl:part name="Body" element="tns:GetXmlUkrResult" />
  </wsdl:message>
  <wsdl:message name="PropisHttpPostIn">
    <wsdl:part name="n" type="s:string" />
    <wsdl:part name="unit" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PropisHttpPostOut">
    <wsdl:part name="Body" element="tns:PropisResult" />
  </wsdl:message>
  <wsdl:message name="PropisUkrHttpPostIn">
    <wsdl:part name="n" type="s:string" />
    <wsdl:part name="unit" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PropisUkrHttpPostOut">
    <wsdl:part name="Body" element="tns:PropisUkrResult" />
  </wsdl:message>
  <wsdl:message name="GetDailyQueryLimitHttpPostIn" />
  <wsdl:message name="GetDailyQueryLimitHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ValidateClientIDHttpPostIn">
    <wsdl:part name="clientID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateClientIDHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="SubmitCorrection">
      <wsdl:input message="tns:SubmitCorrectionSoapIn" />
      <wsdl:output message="tns:SubmitCorrectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountStatus">
      <wsdl:input message="tns:GetAccountStatusSoapIn" />
      <wsdl:output message="tns:GetAccountStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetXml">
      <wsdl:input message="tns:GetXmlSoapIn" />
      <wsdl:output message="tns:GetXmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetXmlUkr">
      <wsdl:input message="tns:GetXmlUkrSoapIn" />
      <wsdl:output message="tns:GetXmlUkrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Propis">
      <wsdl:input message="tns:PropisSoapIn" />
      <wsdl:output message="tns:PropisSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PropisUkr">
      <wsdl:input message="tns:PropisUkrSoapIn" />
      <wsdl:output message="tns:PropisUkrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDailyQueryLimit">
      <wsdl:input message="tns:GetDailyQueryLimitSoapIn" />
      <wsdl:output message="tns:GetDailyQueryLimitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateClientID">
      <wsdl:input message="tns:ValidateClientIDSoapIn" />
      <wsdl:output message="tns:ValidateClientIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHttpGet">
    <wsdl:operation name="GetAccountStatus">
      <wsdl:input message="tns:GetAccountStatusHttpGetIn" />
      <wsdl:output message="tns:GetAccountStatusHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetXml">
      <wsdl:input message="tns:GetXmlHttpGetIn" />
      <wsdl:output message="tns:GetXmlHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetXmlUkr">
      <wsdl:input message="tns:GetXmlUkrHttpGetIn" />
      <wsdl:output message="tns:GetXmlUkrHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Propis">
      <wsdl:input message="tns:PropisHttpGetIn" />
      <wsdl:output message="tns:PropisHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="PropisUkr">
      <wsdl:input message="tns:PropisUkrHttpGetIn" />
      <wsdl:output message="tns:PropisUkrHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDailyQueryLimit">
      <wsdl:input message="tns:GetDailyQueryLimitHttpGetIn" />
      <wsdl:output message="tns:GetDailyQueryLimitHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateClientID">
      <wsdl:input message="tns:ValidateClientIDHttpGetIn" />
      <wsdl:output message="tns:ValidateClientIDHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHttpPost">
    <wsdl:operation name="GetAccountStatus">
      <wsdl:input message="tns:GetAccountStatusHttpPostIn" />
      <wsdl:output message="tns:GetAccountStatusHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetXml">
      <wsdl:input message="tns:GetXmlHttpPostIn" />
      <wsdl:output message="tns:GetXmlHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetXmlUkr">
      <wsdl:input message="tns:GetXmlUkrHttpPostIn" />
      <wsdl:output message="tns:GetXmlUkrHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Propis">
      <wsdl:input message="tns:PropisHttpPostIn" />
      <wsdl:output message="tns:PropisHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="PropisUkr">
      <wsdl:input message="tns:PropisUkrHttpPostIn" />
      <wsdl:output message="tns:PropisUkrHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDailyQueryLimit">
      <wsdl:input message="tns:GetDailyQueryLimitHttpPostIn" />
      <wsdl:output message="tns:GetDailyQueryLimitHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateClientID">
      <wsdl:input message="tns:ValidateClientIDHttpPostIn" />
      <wsdl:output message="tns:ValidateClientIDHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitCorrection">
      <soap:operation soapAction="http://morpher.ru/SubmitCorrection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SubmitCorrectionCredentials" part="Credentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountStatus">
      <soap:operation soapAction="http://morpher.ru/GetAccountStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetAccountStatusCredentials" part="Credentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXml">
      <soap:operation soapAction="http://morpher.ru/GetXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetXmlCredentials" part="Credentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXmlUkr">
      <soap:operation soapAction="http://morpher.ru/GetXmlUkr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetXmlUkrCredentials" part="Credentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Propis">
      <soap:operation soapAction="http://morpher.ru/Propis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:PropisCredentials" part="Credentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PropisUkr">
      <soap:operation soapAction="http://morpher.ru/PropisUkr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:PropisUkrCredentials" part="Credentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDailyQueryLimit">
      <soap:operation soapAction="http://morpher.ru/GetDailyQueryLimit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateClientID">
      <soap:operation soapAction="http://morpher.ru/ValidateClientID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitCorrection">
      <soap12:operation soapAction="http://morpher.ru/SubmitCorrection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SubmitCorrectionCredentials" part="Credentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountStatus">
      <soap12:operation soapAction="http://morpher.ru/GetAccountStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetAccountStatusCredentials" part="Credentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXml">
      <soap12:operation soapAction="http://morpher.ru/GetXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetXmlCredentials" part="Credentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXmlUkr">
      <soap12:operation soapAction="http://morpher.ru/GetXmlUkr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetXmlUkrCredentials" part="Credentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Propis">
      <soap12:operation soapAction="http://morpher.ru/Propis" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:PropisCredentials" part="Credentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PropisUkr">
      <soap12:operation soapAction="http://morpher.ru/PropisUkr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:PropisUkrCredentials" part="Credentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDailyQueryLimit">
      <soap12:operation soapAction="http://morpher.ru/GetDailyQueryLimit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateClientID">
      <soap12:operation soapAction="http://morpher.ru/ValidateClientID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpGet" type="tns:WebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetAccountStatus">
      <http:operation location="/GetAccountStatus" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXml">
      <http:operation location="/GetXml" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXmlUkr">
      <http:operation location="/GetXmlUkr" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Propis">
      <http:operation location="/Propis" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PropisUkr">
      <http:operation location="/PropisUkr" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDailyQueryLimit">
      <http:operation location="/GetDailyQueryLimit" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateClientID">
      <http:operation location="/ValidateClientID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpPost" type="tns:WebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetAccountStatus">
      <http:operation location="/GetAccountStatus" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXml">
      <http:operation location="/GetXml" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXmlUkr">
      <http:operation location="/GetXmlUkr" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Propis">
      <http:operation location="/Propis" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PropisUkr">
      <http:operation location="/PropisUkr" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDailyQueryLimit">
      <http:operation location="/GetDailyQueryLimit" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateClientID">
      <http:operation location="/ValidateClientID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://morpher.ru/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://morpher.ru/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHttpGet" binding="tns:WebServiceHttpGet">
      <http:address location="http://morpher.ru/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHttpPost" binding="tns:WebServiceHttpPost">
      <http:address location="http://morpher.ru/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>